@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: white;
}

/* Loader css */

.content {
  display: none;
}

.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;
  position: absolute;
}

.loader > div {
  height: 100px;
  width: 100px;
  border: 15px solid #45474b;
  border-top-color: #2a88e6;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Navigation css */
.container {
  width: 80%;
  margin: 0 auto;
}
nav {
  background: #40b7fb;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.plusIcon {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

nav .nav-items li a:hover {
  color: black;
}
nav form {
  display: flex;
  height: 70px;
  padding: 2px;
  background: #107df7;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #107df7;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #40b7fb;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #40b7fb;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #107df7;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}

nav .logo.space {
  color: black;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}

/* End Navigation css */

/* Add some basic styling for the hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-left: 150px;
}

.hero-text h1 {
  font-size: 36px;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
  margin: 10px 0;
}

.hero-button {
  margin-top: 20px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  object-fit: contain;
  margin-left: 165px;
  margin-bottom: -10px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

/* Make the hero section responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    /* background-image: none; */
  }
  .hero-text {
    padding-left: 0px;
  }

  .hero-text,
  .hero-image {
    flex: 1;
    width: 100%;
  }
  .hero-button {
    margin-top: 20px;
  }
  .hero-image img {
    margin-bottom: 10px;
    margin-left: 0px;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
  }
}

.fillColor {
  color: red;
}

.buttons {
  background-color: #0389d7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* second Nav Bar */

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 4px solid #40b7fb;
}

.topnav a.active {
  border-bottom: 4px solid #40b7fb;
}

#bottom-boder {
  border-bottom: 1px solid gray;
  /* margin-top: 1px; */
}

@media (max-width: 768px) {
  .topnav a:hover {
    border-bottom: 0px;
  }

  .topnav a.active {
    border-bottom: 0px;
  }
}

/* Second Hero section */

.containers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.left {
  flex: 1;
  padding: 20px;
  background-color: white;
  text-align: justify;
}

.right {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .containers {
    flex-direction: column;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
  }
}

.bottom-border1 {
  margin-top: 25px;
  border: 1px dashed #40b7fb;
}

/*  Third Section */

.container1 {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.ul-bullet {
  list-style-type: none;
  padding-left: 20px;
}

.blue-bullet::before {
  content: "\2022";
  color: #40b7fb;
  display: inline-block;
  width: 1.5em;
  font-size: 20px;
  line-height: 30px;
  margin-left: -1em;
}

.container1 .left {
  width: 65%;
}
.container .right-form {
  width: 25%;
  flex-shrink: 0;
  height: 25%;
}

.right-form {
  margin-left: 25px;
  box-shadow: 5px 5px 5px 5px lightblue;
}

.sub-form {
  display: flex;
  flex-direction: column;
}

#form-container {
  padding: 25px;
}

input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #40b7fb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.para {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
  }
  .container1 .left {
    width: 100%;
  }
  .container .right-form {
    width: 100%;
    height: 100%;
  }
  .right-form {
    margin-left: 0px;
    box-shadow: 5px 5px 5px 5px#40b7fb;
  }

  #form-container {
    padding: 10px;
  }
}

/* Faq Section */

.faq-header {
  font-size: 24px;
  border-bottom: 1px dotted #40b7fb;
  padding: 24px;
}

.faq-content {
  margin-left: 40px;
  width: 70%;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #40b7fb;
}

.panel-title {
  font-size: 16px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  border-left: 2px solid #007bff;
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

@media (max-width: 768px) {
  .faq-content {
    margin-left: 0px;
    width: 100%;
  }
}

/* Owl Croller First  */

.patient-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.patient-card p {
  margin-top: 10px;
  font-size: larger;
  margin-left: 50px;
  font-weight: bold;
  color: blue;
}

.patient-card img {
  max-width: 80%;
  height: auto;
}
.patient-details {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.patient-details p {
  color: black;
  font-weight: bold;
  font-size: small;
}
.container h2 {
  margin-top: 40px;
  margin-left: 50px;
}
.patient-details img {
  border-radius: 50%;
  max-width: 50px;
  height: auto;
}

.patient-name {
  font-weight: bold;
}

/* CSS for the Owl Carousel */
.owl-carousel {
  display: flex;
  flex-wrap: nowrap;
  /* margin: auto; */
}

.owl-carousel .owl-stage-outer {
  overflow: hidden;
}

.owl-carousel .owl-stage {
  display: flex;
  transition: all 0.5s;
}

.owl-carousel .owl-item {
  display: flex;
}

#owl-container {
  width: 80%;
  margin-top: 50px;
}

.patient-card1 {
  display: flex;
  flex-direction: column;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .owl-carousel {
    flex-direction: column;
  }

  .patient-card {
    width: 100%;
    /* margin: 10px auto; */
  }

  .patient-card img {
    max-width: 100%;
    height: auto;
  }

  .patient-details img {
    max-width: 40px;
  }

  .patient-card p {
    margin-left: -1px;
    font-size: small;
    font-weight: bold;
    color: blue;
  }

  .patient-details p {
    color: black;
    font-weight: bold;
    font-size: small;
  }

  .owl-carousel {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
  }
}

/* Second Owl Croller */

#second-owl-croller {
  margin-top: 50px;
  background-color: lightblue;
}
#carousel2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 100px;
}
.container-owl {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.content-area {
  padding: 4px;
  background-color: white;
}
.cont {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}
.cont img {
  max-width: 80%;
  height: auto;
}

.cont h2 {
  color: red;
  font-size: large;
  font-style: italic;
}
#doct {
  color: red;
  font-size: x-large;
  font-style: italic;
  font-weight: 900;
}
.cont p {
  color: black;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .owl-carousel {
    flex-direction: column;
  }

  .cont img {
    max-width: 100%;
    margin-left: 75px;
    height: auto;
  }
}

/* third Owl Croller */

.content-area1 {
  border: 1px solid red;
  border-style: dotted;
}

.cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -50px;
}

.cont1 p {
  margin-top: 30px;
  color: black;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.cont1 h2 {
  color: red;
  font-size: large;
  font-style: italic;
  margin-bottom: 0px;
}

.cont1 img {
  max-width: 87%;
  height: auto;
}

#carousel3 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .owl-carousel {
    flex-direction: column;
  }

  .cont1 img {
    max-width: 100%;
    margin-left: 75px;
    height: auto;
  }
}

/*  */

.get-touch {
  background-color: #40b7fb;
  padding: 35px;
}
#phone {
  margin-left: 20px;
}

#get-touchs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#get-touchs1 {
  display: flex;
  align-items: center;
  gap: 50px;
}

#get-touchs1 div {
  font-size: x-large;
  color: white;
  font-weight: bold;
  border-left: 2px solid white;
}

#get-touchs1 h3,
h2 {
  color: white;
}

@media (max-width: 768px) {
  #get-touchs1 div {
    font-size: small;
    color: white;
    font-weight: bold;
    border-left: 2px solid white;
  }
  #phone {
    margin-left: 0px;
  }
}

/* Fotter Section */

.footer {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
.contain .col {
  margin-left: 50px;
}
.contain .col ul {
  margin-left: 20px;
}
li::marker {
  color: aqua;
}
#fotterbg {
  background-color: #070617;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
  .contain .col {
    margin-left: 0px;
  }
  .contain .col ul {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
  .contain .col {
    margin-left: 0px;
  }
  .contain .col ul {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
  .contain .col {
    margin-left: 0px;
  }
  .contain .col ul {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
  .contain .col {
    margin-left: 0px;
  }
  .contain .col ul {
    margin-left: 0px;
  }
}

.fooot1 {
  display: flex;

  margin-top: 50px;
  gap: 20px;
}
.fooot1 img {
  max-width: 20%;
  height: 30%;
}
.foot2 {
  color: white;
  width: 80%;
}

.social-icons {
  display: flex;
  text-align: center;
  margin: 20px;
  background-color: transparent;
}

.social-link {
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.social-link i {
  margin-right: 10px;
}

@media only screen and (max-width: 500px) {
  .fooot1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
  }
}
@media only screen and (max-width: 340px) {
  .fooot1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
  }
}
